
@{
    ViewBag.Title = "LoginWelcome";
}

<h2>Login Successful!</h2>

Welcome @HttpContext.Current.User.Identity.Name you have logged in Successfully!

You can now access the Module Area's. Please use the Navigation bar to view them.


