@model IEnumerable<FinalProjectSite.Models.DataClasses.FileNames>


<head>
   
    <title>About Us</title>
    @{
        ViewBag.Title = "AboutUs";
    }
</head>


<div class="jumbotron">
    <h1>About Us</h1>
    <p class="lead">Online Security Solutions was created by George Brackpool in order to help provide guidance to the public, businesses and their employee's about various areas of cybersecurity. Whilst there are only a few module's at this point in time, more will be added in the future. Online Security is constantly changing due to technological development's, new software and new threats. Online threats are created or planned every day in an attempt for malicious individuals to collect and steal data for monetary or political reasons.</p>
</div>


<div class="col-md-6">
    <p>
        A majority of people in the world are aware of how important security online is and typically are very good with basic measures to keep their data secure. For example, having a secure password with a mixture of capital letter's number's and a symbol. Using Face ID or fingerprint scanner's on their phone's. However there are some more subtle threats that most are not aware of and a good example which you can find here on this site is Social Engineering. On Online Security Solutions we will teach you
        how to be safe and secure yourself in and out of the workplace.
    </p>
</div>
<div class="col-md-6">

    <img class="img-responsive" src="~/images/about-us-password.png" alt="Image of a log in">
</div>



<div class="col-md-12">
    <blockquote>
        <p>"Online Security Solutions helped me become aware of threats that I would never of known existed and gave some useful tools and tips in order to secure my data and protect my place of work, which is becoming more important than ever in an increasingly connected world."</p>
        <footer>Steve Rickman (Employee at AeroNaught Systems LTD)  </footer>

    </blockquote>


</div>


<div class="col-md-6">
    <h2>Get Started!</h2>
    <p>Register an account with us today and take control over your data and privacy! You will gain free access to all modules and the information they provide.</p>

    @*using action link like this stops calling post method, state the View then the Controller*@
    <button class="btn btn-primary btn-lg " onclick="location.href='@Url.Action("Registration", "User")';return false;">CLICK HERE TO REGISTER</button>
    <br />

</div>


<div class="col-md-12">
    <h2>View the Module contents!</h2>
    <br />
        @foreach (var item in Model)
        {
            <p>Click on the button below if you wish to view all information about current and future modules on the site! This PDF file covers each section of the module's and what they contain so you can decide what topic you want to learn about first.</p>
                    @*@Html.DisplayFor(modelItem => item.FileId)
                    @Html.DisplayFor(modelItem => item.FileName)*@
               <br />  
                    @Html.ActionLink("Download Module Information PDF", "Download", new { id = item.FileId }, new { @class = "btn btn-primary btn-lg" })
            }

               <br />
    </div>


    
