@{
    ViewBag.Title = "FAQ Page (Question & Answer)";
}
<title>@ViewBag.Title</title>


<h1><b><u>Question and Answer's</u></b> </h1>

<div class="col-md-12">
    <h2><b>What is Online Security Solutions?</b></h2>

    <p>Online Security Solutions is an informative website designed to teach the public about the dangers of the most prominent online threats today and how they can prevent being a victim of these attacks.</p>
    <br />
    <h2><b>Do you have to pay to access the information Online Security Solutions is Offering?</b></h2>
    <p>No, all the information on the site is free all you have to do is sign up by clicking 'Register' which can be found in the top right corner of the Navigation Bar or by clicking on buttons that say "Click here to register" throughout the site.</p>
    <img class="img-responsive" src="~/images/register.jpg" alt="image of the register page" style="border: 5px solid black;" />
    <h2><b>Why can't I access/view the modules?</b></h2>
    <p>Access to the modules are restricted to registered users. There are many benefits to sign up with access to more features and being able to view all the modules!</p>
    <h2><b>How many Modules will there be in the future?</b></h2>
    <p>Currently there are only two modules but we are working hard to get high quality and up to date information on the latest online threats and develop the new modules. When the site is fully complete we expect to have 10 modules.</p>
    <h2><b>How do I register?</b></h2>
    <p>Simply click on the words Register in the navigation bar or on pages where there is a big button which says "click here to register". When you click on this you will be re-directed to a register page that will ask for some basic information.Ensure you input an email address that you can access. Once you have completed the fields and click 'register' then open your email and you should recieve an email from us! If its not in your inbox then check your spam folder as some filters are very strict and simply click on the link to activate your account. You will be redirected to a page that tells you your account was activated successfully.</p>
    <img class="img-responsive" src="~/images/account-activation.png" alt="image of an email showing the account has been activated" style="border: 5px solid black;" />
    <h2><b>Can I access the site on my mobile?</b></h2>
    <p> As long as you have a connection to the internet on your mobile device then you can access it anywhere if you wish to learn on your commute or when sat around somewhere, you can access it from anywhere! Online Security Solutions was developed with mobile users in mind and has been built using Bootstrap which makes the site responsive and adjusts the site's sizing of its content on a number of different sized screens whether that's on a tablet or smartphone or even a smart TV!</p>
    <br />
    <h3>Got a question that wasn't answered here?</h3>
    <p>Then please get in contact with us by filling out the enquiry form by <a href="#" onclick="location.href='@Url.Action("ContactUs", "ContactUs")'">clicking here.</a> On the contact us page you can fill out the enquiry form and we will reply to you by email as soon as possible!

    <br />

   






    </div>
